*.cmake
*CMakeFiles*
*.ninja*
*.swp
Makefiles
Makefile
CMakeCache.txt
*.dylib
*.so
*.root
*.rootmap
*Dict.*
*.pcm
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.aux
*.toc
install_manifest.txt
.DS_store
*Projects*
.last_*
unpacker-cleaner
.ls_return
Documentation/user_guide.log
*.bbl
*.blg
*.sublime-*
include/*
unpacker
nohup*
